<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:property-placeholder
		location="classpath:value.properties" />
	<context:component-scan base-package="com.example"/>
	<!-- <bean id="hello" class="com.example.Hello">
		<property name="name" value="${myname}" />
		<property name="printer" ref="${myprinter}" />
		<property name="hobbys">
			<list>
				<value>${value1}</value> Properties File의 데이터를 사용하기위해 치환자${}를 사용
				<value>${value2}</value>
				<value>${value3}</value>
				<value>${value4}</value>
			</list>
		</property>
	</bean>
	<bean id="stringPrinter" class="com.example.StringPrinter" />
	<bean id="consolePrinter" class="com.example.ConsolePrinter" /> -->

</beans>
