<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="student2" class="com.example.Student">
		<constructor-arg value="김지민" />
		<constructor-arg value="50" />
		<constructor-arg>
			<list>
				<value>노래부르기</value>
				<value>게임</value>
			</list>
		</constructor-arg>
		<property name="height" value="175" />
		<property name="weight">
			<value>75</value>
		</property>
	</bean>
	<bean id="product" class="com.example.Product" c:pName="Computer"
		c:pPrice="2000000" p:maker="Samsung">
		<property name="color" value="Yellow" />
	</bean>

</beans>
